- var htmlClassHideAside = theme.aside.enable && theme.aside.hide ? 'hide-aside' : ''
- var hideAside = !theme.aside.enable || page.aside === false ? 'hide-aside' : ''
- var pageType = is_post() ? 'post' : 'page'

doctype html
html(lang=config.language data-theme=theme.display_mode class=htmlClassHideAside)
  head
    include ./head.pug
  body
    if theme.preloader
      !=partial('includes/loading/loading', {}, {cache: true})

    if theme.background
      #web_bg
      #an_music_bg
    !=partial('includes/sidebar', {}, {cache: true})
    include ./header/index.pug
    include ./page/console.pug
    #body-wrap(class=pageType)
      if is_home()
        include random.pug
      main#content-inner.layout(class=hideAside)
        if body
          div!= body
        else
          block content
          if theme.aside.enable && page.aside !== false
            include widget/index.pug

      - var footerBg = theme.footer_bg
      if (footerBg)
        if (footerBg === true)
          - var footer_bg = bg_img
        else
          - var footer_bg = theme.footer_bg.indexOf('/') !== -1 ? `background-image: url('${url_for(footerBg)}')` : `background: ${footerBg}`
      else
        - var footer_bg = ''

      footer#footer(style=footer_bg)
        !=partial('includes/footer', {}, {cache: true})

    include ./rightside.pug
    include ./music.pug
    !=partial('includes/third-party/search/index', {}, {cache: true})
    !=partial('includes/dorakika/rightmenu',{}, {cache:false})
    //!=partial('includes/rightmenu',{}, {cache:true})
    include ./additional-js.pug
    //- 增加悬浮伸缩侧边栏
    //.contact-info
    //  .option
    //    i.fas.fa-rocket
    //    .bloktop
    //    .text 还不造有啥用滴悬浮模块
    //      .strip
    //  .option
    //    i.fas.fa-cube
    //    .blok
    //    .text
    //      .strip
    //      <div class="post-reward"><button class="tip-button reward-button"><span class="tip-button__text">投喂</span><div class="reward-main"><ul class="reward-all"><li class="reward-item"><a class="about-reward" href="/img/weixin.jpg" target="_blank"><img class="post-qr-code-img" src="/img/weixin.jpg" alt="微信"></a><div class="post-qr-code-desc">微信</div></li><li class="reward-item"><a class="about-reward" href="/img/alipay.jpg" target="_blank"><img class="post-qr-code-img" src="/img/alipay.jpg" alt="支付宝"></a><div class="post-qr-code-desc">支付宝</div></li></ul></div></button></div>
    //  .option
    //    i.fas.fa-music
    //    .blokbottom
    //    .text.aplayertext
    //      .strip
    //      .aplayer.no-destroy(mutex='true', listfolded='true', data-id='694812321', data-preload="none" , data-server='netease', data-volume='0.25', data-order='random', data-type='playlist', data-fixed='true', data-autoplay='false')